<div class="mt-5">
     <h2 style=" text-align: center;">Đăng nhập dành cho khách đã có tài khoản</h2>

<form method="POST" action=""  style="max-width: 400px; margin: auto;">
  <div style="margin-bottom: 15px;">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required style="width: 100%; padding: 8px;">
  </div>

  <div style="margin-bottom: 15px;">
    <label for="matKhau">Mật khẩu:</label><br>
    <input type="password" id="matKhau" name="matKhau" required style="width: 100%; padding: 8px;">
  </div>

  <button type="submit" style="padding: 10px 20px;">Đăng nhập</button>
</form>

<p style="text-align: center; margin-top: 20px;">
  Chưa có tài khoản? <a href="/dang-ky">Đăng ký tại đây</a>
</p>
 {{#if error}}
<script>
  alert('{{error}}');
</script>
{{/if}}
</div>