<h2>Thêm phòng mới</h2>
<form method="POST" action="/phongtro/them/store" style="max-width:400px;margin:auto;">
  <div class="form-group">
    <label>Tên phòng:</label>
    <input type="text" name="tenphong" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Trạng thái:</label>
    <select name="trangthai" class="form-control">
      <option value="Chưa thuê">Chưa thuê</option>
      <option value="Đã thuê">Đã thuê</option>
    </select>
  </div>
  <div class="form-group">
    <label>ID Phòng:</label>
    <input type="text" name="idphong" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Tiền đặt cọc:</label>
    <input type="number" name="tiendatcoc" class="form-control" required>
  </div>
  <div class="form-group">
    <label>Hình ảnh:</label>
    <input type="text" name="img"  class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Thêm phòng</button>
</form>